{% extends 'base.html' %}

{% block content %}
<blockquote id="elitis">
<p>Προσπάθησε να οδηγήσεις την Τεχνική Τελειότητα</p>
<p>Στην Φυσική της κατάσταση.</p>

<p class="text-right italic">Οδυσσέας Ελύτης</p>
</blockquote>

<p>Το εργαστήριό μας βρίσκεται στον Κεραμικό, ένα από τα πιο παλιά προάστια της Αθήνας και βιομηχανική περιοχή μέχρι τα τέλη του 19ου αιώνα.</p>
<p>Σε απόσταση περιπάτου (10’ – 15’) βρίσκονται πολλά μουσεία (Μπενάκη…), αρχαιολογικοί χώροι (Ακρόπολη, Κεραμικός….) και Πάρκα.
Ο σταθμός του Μετρό «Κεραμικός» βρίσκεται στα 350 μ. περίπου και του Ηλεκτρικού «Θησείο» στα 250 μ.</p>
<p>Συνεργαζόμαστε αποκλειστικά με Οδοντιάτρους με τους οποίους έχουμε κοινούς στόχους και οράματα</p>

Διεύθυνση και  τηλέφωνα επικοινωνίας


Χάρτης Περιοχής
Μια φωτογραφία του εργαστηρίου

{% endblock %}